.container-card-main {
  padding: 4px;
}

.title-series {
    position: relative;
}

.MuiChip-label {
  padding-left: 0px !important;
  padding-right: 7px !important;
  font-family: 'Montserrat';
}


@media (max-width: 640px) {
  .container-card-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      padding: 12px 0px;
  }
}